/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nerko One", cursive;
}

/* General */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 65%;
  margin: auto;
}

body {
  background-color: #add8e6;
}

/* Header */
.title {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px #a0aeb1;
  color: white;
  font-size: 42px;
  margin: 50px 0px;
}

/* Main */

.row {
  margin-bottom: 5%;
}

.col {
  float: left;
  height: 250px;
  width: calc((100% / 4) - 1.5%);
  margin-right: 2%;
}

.col:last-child {
  margin-right: 0px;
}

.card-back {
  height: 100%;
  background-color: white;
  background-image: url(../img/pattern.png);
  background-size: contain;
  box-shadow: 5px 5px 5px #a0aeb1;
  border-radius: 10px;
}

.card-front:hover {
  height: 100%;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 5px #a0aeb1;
  border-radius: 10px;
  position: relative;
}

/* Baloon */
.baloon:hover {
  background-image: url(../img/noun_air_balloon_3134741.png);
}
.baloon:hover::after {
  content: "Baloon";
  color: #e61986;
  font-size: 36px;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
}

/* Tractor */
.tractor:hover {
  background-image: url(../img/noun_Tractor_3134797.png);
}
.tractor:hover::after {
  content: "Tractor";
  color: #e67918;
  font-size: 36px;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
}

/* Cruise */
.cruise:hover {
  background-image: url(../img/noun_Cruise_Ship_3134824.png);
}
.cruise:hover::after {
  content: "Cruise";
  color: #e94040;
  font-size: 36px;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
}

/* Bicycle */
.bicycle:hover {
  background-image: url(../img/noun_Bicycle_3134821.png);
}
.bicycle:hover::after {
  content: "Bicycle";
  color: #186ae6;
  font-size: 36px;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
}

/* Submarine */
.submarine:hover {
  background-image: url(../img/noun_Submarine_3134738.png);
}
.submarine:hover::after {
  content: "Submarine";
  color: #2fa051;
  font-size: 36px;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
}

/* Tram */
.tram:hover {
  background-image: url(../img/noun_Tram_3134750.png);
}
.tram:hover::after {
  content: "Tram";
  color: #f8e748;
  font-size: 36px;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
}

/* Example */
.example-baloon {
  background-image: url(../img/noun_air_balloon_3134741.png);
  height: 100%;
  background-color: white;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 5px #a0aeb1;
  border-radius: 10px;
  position: relative;
}
.example-baloon::after {
  content: "Baloon";
  color: #e61986;
  font-size: 36px;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
}


/* Footer */
.credits {
  text-align: center;
  font-size: 20px;
}
